* {
	border: 0;
	margin: 0;
}

body {
	background: lightblue;
	font-family: sans-serif;
}

/*  ######################### HEADER ###################################*/
.header {
}

.header .headerName {
	background: #0e0b16;
	color: white;
	margin: 0 auto;
	text-align: center;
	height: 700px;
}

.headerName .name {
	font-size: 400%;
	text-align: center;
	margin-bottom: 20px;
	padding-top: 20px;
	color: #e7dfdd;
	font-weight: 400;
	padding: 5px;
}

.headerName .name div {
	padding: 15px 0;
}

.headerName #link {
	text-align: right;
	padding-right: 20px;
	font-size: 150%;
}
.headerName #link a {
	color: white;
}
.headerName #link a:hover {
	color: #fc4a1a;
}


..header-container {
	margin: 0 auto;
	width: 100%;
}





.header .circleNav {
	height: 12px;
	width: 12px;
	border-radius: 50%;
	border: 1px solid black;
	background: blue;
	opacity: 0.5;
	display: inline-block;
	margin: 15px 3px;
	cursor: pointer;

}

.header .nav-buttons {
	position: absolute;
	top: 700px;
	left: 50%;
	transform-origin: translate(-50%,-50%);
}

.header .active {
	background: lightblue;
	height: 16px;
	width: 16px;
}


.header .headerHobbies {
	background: #ff383f;
	color: white;
	text-align: center;
	padding-top: 50px;
	display: none;
	height: 700px;
}

.headerHobbies > p {
	font-size: 300%;
	color: #caebf2;
	font-weight: 400;
}

.headerHobbies .hobbiesList {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 20px;
	font-size: 200%;
}

.headerHobbies .hobbiesList li {
	padding: 5px 0;
}
.headerHobbies #link {
	text-align: right;
	font-size: 150%;
	cursor: pointer;
	padding-right: 20px;
}
.headerHobbies #link a {
	color: white;
}
.headerHobbies #link a:hover {
	color: #a9a9a9;
}


.header .headerAchievements {
	background: #0e0b16;
	text-align: center;
	display: none;
	color: #e7dfdd;
	padding-top: 50px;
	height: 700px;
}

.headerAchievements > p {
	font-size: 300%;
	color: #a239ca;
}

.headerAchievements ul {
	list-style: none;
	font-size: 180%;
	margin-top: 20px;
}

.headerAchievements ul li {
	padding: 2px 0;
}

.headerAchievements #link {
	text-align: right;
	font-size: 150%;
	padding-right: 20px;
	cursor: pointer;
}
.headerAchievements #link a {
	color: #e7dfdd;
}
.headerAchievements #link a:hover {
	color: #a239ca;
}

.header #link > a {
	text-decoration: none;
}

.header .circleNav:hover {
	background: lightblue;
	opacity: 0.5
}


#badge-ribbon {
 position: relative;
 background: #bb2601;
 height: 100px;
 width: 100px;
 -moz-border-radius:    50px;
 -webkit-border-radius: 50px;
 border-radius:         50px;
 margin-left: 25px;
 margin-top: -10px;
}

#badge-ribbon:before,
#badge-ribbon:after {
  content: '';
  position: absolute;
  border-bottom: 70px solid #bb2601;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  top: 70px;
  left: -10px;
  -webkit-transform: rotate(-140deg);
  -moz-transform:    rotate(-140deg);
  -ms-transform:     rotate(-140deg);
  -o-transform:      rotate(-140deg);
}

#badge-ribbon:after {
  left: auto;
  right: -10px;
  -webkit-transform: rotate(140deg);
  -moz-transform:    rotate(140deg);
  -ms-transform:     rotate(140deg);
  -o-transform:      rotate(140deg);
}



/*################################## END OF HEADER #############################################################*/

/*###################################### START OF BODY #########################################################*/

.bio {
	background: white;
	text-align: center;
	padding: 50px 0;
	font-size: 150%;
}
.bio p {
	padding: 20px;
}

.bio  #highlight {
	font-size: 180%;
	color: red;
}

.bio .name-container {
	width: 100%;
	margin: 0 auto;
}

.hobbies {
	background: #d7cec7;
	color: #565656;
	text-align: center;
	padding: 50px 10px;
	font-size: 150%;
}

.hobbies p {
	padding: 20px 0;
}


.hobbies .hobbies-container {
	margin: 0 auto;
	width: 100%;
}

.achievements {
	background: #49274a;
	color: #f8eee7;
	font-size: 150%;
	padding: 20px 0;
	text-align: center;
	padding: 50px 10px;
}
.achievements p {
	padding: 20px 0;
}

.achievements .achivements-container {
	margin: 0 auto;
	width: 100%;
}

.separator {
	border: 0.4px solid #f4dec8;
	margin: 5px auto;
	width: 80%;
}


/*############################################### ANIMATION ############################################################*/

.center {
		position: absolute;
		top: 300px;
		left: 150px;
		margin: 0 auto;
	}
	

	.circle {
		border-radius: 50%;
		clip-path: circle(90px at 90px 90px);
		height: 180px;
		width: 180px;
		/*background-color: #66e5e3;*/
		z-index: 2;
	}

		.sky {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			background-color: #7DDFFC;
			height: 124px;
			z-index: 0;
			animation: sky-night 6s ease-in-out infinite;
		}

		.sun {
			position: absolute;
			top: 5px;
			left: 75px;
			height: 30px;
			width: 30px;
			border-radius: 50%;
			background-color: #FFEF00;
			transform-origin: 50% 80px;
			z-index: 2;
			animation: sun-motion 6s ease-in-out infinite;
		}

		.pyramid-left {
			position: absolute;
			top: 67px;
			left: 32px;
			height: 57px;
			width: 116px;
			background-color: #f4f4f4;
			clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
			animation: pyramid-color 6s ease-in-out infinite ;
		}

		.pyramid-right {
			position: absolute;
			top: 66px;
			left: 91.5px;
			height: 58px;
			width: 58px;
			background-color: #DDDADA;
			z-index: 10;
			clip-path: polygon(30% 100%, 100% 100%, -2% 0%); 
			animation: pyramid-color 6s ease-in-out infinite reverse;
		}

		.shadow {
			position: absolute;
			z-index: 2;
			top: 124px;
			left: -80px;
			height: 30px;
			width: 360px;
			background-color: rgba(0,0,0,0.2);
			transform-origin: (50%, 0%);
			clip-path: polygon(110px 0%, 229px 0%, 80% 100%);
			animation: shadow-color 6s ease-in-out infinite;
		}

		.ground {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 56px;
			/*width: 180px;*/
			background-color: #F0DE75;
			z-index: 1;
			animation: ground-night 6s ease-in-out infinite;
		}

		@keyframes sun-motion{
			0% {
				background: #F57209;
				transform: rotateZ(-70deg);
			}
			50% {
				background: #FFEF00;
			}
			100% {
				transform: rotateZ(70deg);
				background: #F57209;
			}
		}

		@keyframes pyramid-color {
			0% { background-color: #272c34; }
			30% { background: #f4f4f4; }
			70% { background: #dddada; }
			100% { background: #272c34; }
		}
		@keyframes sky-night {
 			 0% { background: #272C34; }
  			30% { background: #7DDFFC; }
    		70% { background: #7DDFFC; }
			100% { background: #272C34; }
		}

		@keyframes ground-night {
			0% { background-color: #272c34; }
			30% { background-color: #f0de75; }
			70% { background-color: #f0de75; }
			100% { background-color: #272c34; }
		}
		@keyframes shadow-color {
			0% { background-color: rgba(0,0,0,0.2); }
			30% { background-color: rgba(0,0,0,0,.2); }
			70% { background-color: rgba(0,0,0,0.2); }
			100% { background-color: #272c34; }
		}



.name > div > p:hover {
	transform: rotate(90deg);
	transform: scaleX(-1);
}




/*############################################### RESPONSIVE ####################################################*/

@media screen and (max-width: 768px) {

	.header .center {
		display: none;
	}

	.header-container {

	}

	.bio .name-container {
		width: 100%;
	}

	.hobbies .hobbies-container {
		width: 100%;

	}

	.achievements .achievements-container {
		width: 100%;
		text-align: center;
	}


}